# Compiled Object files, Static and Dynamic libs (Shared Objects)
.DS_Store
*.o
**/*.db
*.db
*.a
*.so
.env
.envrc
.env-test
.lint-results
.env-*
/env
.keys
node_modules
bin
vendor/*/
dump.rdb
coverage.txt
mc
.coverprofile

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
